#
# .gitignore file 
#

serv/client
serv/server
serv

CSharp-Server6
CSharp-Server6/.vs

/CSharp-Server6/.vs/CSharp-Server6-Linux-Docker/DesignTimeBuild/.dtbcache.v2
/CSharp-Server6/.vs/CSharp-Server6-Linux-Docker/v17/.futdcache.v2
/CSharp-Server6/.vs/ProjectEvaluation/csharp-server6-linux-docker.metadata.v9.bin
/CSharp-Server6/.vs/ProjectEvaluation/csharp-server6-linux-docker.projects.v9.bin
/CSharp-Server6/.vs/ProjectEvaluation/csharp-server6-linux-docker.strings.v9.bin
