################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp-Server6/Docker/obj/
/CSharp-Server6/Docker/bin/Debug/
/CSharp-Server6/Docker/obj/CSharp-Server6.csproj.nuget.dgspec.json
/CSharp-Server6/Docker/obj/project.assets.json
/CSharp-Server6/Docker/obj/project.nuget.cache
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.AssemblyInfo.cs
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.AssemblyInfoInputs.cache
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.assets.cache
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.GeneratedMSBuildEditorConfig.editorconfig
/CSharp-Server6/Docker/obj/project.nuget.cache
/CSharp-Server6/Docker/obj/project.assets.json
/CSharp-Server6/Docker/obj/CSharp-Server6.csproj.nuget.dgspec.json
/CSharp-Server6/Docker/obj/Container/ContainerDevelopmentMode.cache
/CSharp-Server6/Docker/obj/Container/ContainerId.cache
/CSharp-Server6/Docker/obj/Container/ContainerRunContext.cache
/CSharp-Server6/Docker/obj/Container/ImageBuildContext.cache
/CSharp-Server6/Docker/obj/Container/ImageId.cache
/CSharp-Server6/Docker/obj/Container/LaunchedImageId.cache
/CSharp-Server6/Docker/obj/Container/VolumeMappings.cache
/CSharp-Server6/Docker/obj/Container/VolumeMappings2.cache
/CSharp-Server6/Docker/obj/Container/ContainerName.cache
/CSharp-Server6/Docker/obj/CSharp-Server6.csproj.nuget.g.props
/CSharp-Server6/Docker/obj/CSharp-Server6.csproj.nuget.g.targets
/CSharp-Server6/Docker/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CSharp-Server6/Docker/obj/Debug/net8.0/apphost.exe
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-S.50E4BBA2.Up2Date
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp_Server6.Properties.Resource.resources
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.csproj.AssemblyReference.cache
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.csproj.BuildWithSkipAnalyzers
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.csproj.CoreCompileInputs.cache
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.csproj.FileListAbsolute.txt
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.csproj.GenerateResource.cache
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.dll
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.genruntimeconfig.cache
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.GlobalUsings.g.cs
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.pdb
/CSharp-Server6/Docker/obj/Debug/net8.0/CSharp-Server6.sourcelink.json
/CSharp-Server6/Docker/obj/Debug/net8.0/ref/CSharp-Server6.dll
/CSharp-Server6/Docker/obj/Container/DebuggeeArguments.cache
/CSharp-Server6/Docker/obj/Container/DebuggeeKillProcessCommand.cache
/CSharp-Server6/Docker/obj/Container/DebuggeeProgram.cache
/CSharp-Server6/Docker/obj/Container/DebuggeeWorkingDirectory.cache
/CSharp-Server6/Docker/obj/Container/DistrolessHelperSupported.cache
/CSharp-Server6/Docker/obj/Container/FastModeProjectMountDirectory.cache
/CSharp-Server6/Docker/obj/Container/OperatingSystemName.cache
/CSharp-Server6/Docker/obj/Container/TargetFramework.cache
/CSharp-Server6/Docker/obj/Container/VsDbgScript.cache
/CSharp-Server6/Docker/obj/Container/ContainerOperatingSystemFlavor.cache
/CSharp-Server6/Docker/obj/Container/ContainerCreationResult.cache
/CSharp-Server6/Docker/obj/Container/AbsoluteOutputAssemblyPath.cache
/CSharp-Server6/Docker/obj/Container/AdditionalProbingPaths.cache
/CSharp-Server6/Docker/bin/Debug/net8.0/log/2024-12-09_Area23.At.Mono.log
/CSharp-Server6/Docker/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
/CSharp-Server6/Docker/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
/CSharp-Server6/Docker/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
/CSharp-Server6/Docker/bin/Debug/net8.0/CSharp-Server6.deps.json
/CSharp-Server6/Docker/bin/Debug/net8.0/CSharp-Server6.dll
/CSharp-Server6/Docker/bin/Debug/net8.0/CSharp-Server6.dll.config
/CSharp-Server6/Docker/bin/Debug/net8.0/CSharp-Server6.exe
/CSharp-Server6/Docker/bin/Debug/net8.0/CSharp-Server6.pdb
/CSharp-Server6/Docker/bin/Debug/net8.0/CSharp-Server6.runtimeconfig.json
/CSharp-Server6/Docker/bin/Debug/net8.0/DBTek.Crypto.dll
/CSharp-Server6/Docker/bin/Debug/net8.0/NLog.dll
/CSharp-Server6/Docker/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/CSharp-Server6/Docker/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
/CSharp-Server6/Docker/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/CSharp-Server6/Docker/.vs/CSharp-Server6/FileContentIndex/2617b555-f5e1-4641-9542-4db24682726f.vsidx
/CSharp-Server6/Docker/.vs/CSharp-Server6/FileContentIndex/7500f938-86a9-4d10-b384-b2b31ad73c59.vsidx
/CSharp-Server6/Docker/.vs/CSharp-Server6/FileContentIndex/966caebf-09c8-48b2-971e-6a3d608aeaa2.vsidx
/CSharp-Server6/Docker/.vs/CSharp-Server6/FileContentIndex/d7ba43de-52e1-475b-b8dc-5813efb48216.vsidx
/CSharp-Server6/Docker/.vs/CSharp-Server6/v17/.suo
/CSharp-Server6/Linux-Docker/obj/Debug/net8.0/ref/CSharp-Server6.dll
/CSharp-Server6/Linux-Docker/obj/Debug/net8.0/refint/CSharp-Server6.dll
/CSharp-Server6/Linux-Docker/obj/Debug/net8.0
/CSharp-Server6/Linux-Docker/obj
/CSharp-Server6/Linux-Docker/bin/Debug/net8.0
/CSharp-Server6/Linux-Docker/.vs
