################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
.vs/CSharp-Server6-Linux-Docker
.vs/CSharp-Server6-Linux-Docker/v17
.vs/CSharp-Server6-Linux-Docker/v17/DocumentLayout.backup.json
.vs/CSharp-Server6-Linux-Docker/v17/DocumentLayout.json
.vs/CSharp-Server6-Linux-Docker/v17/.suo
.vs/CSharp-Server6-Linux-Docker/DesignTimeBuild
.vs/CSharp-Server6-Linux-Docker/DesignTimeBuild/.dtbcache.v2
.vs/CSharp-Server6-Linux-Docker/FileContentIndex/c8ab29ec-005e-477e-8629-6eed5bfd5e9d.vsidx
.vs/CSharp-Server6-Linux-Docker/FileContentIndex/edba95c2-3875-4395-b8ae-85245fc31650.vsidx
.vs/CSharp-Server6-Linux-Docker/FileContentIndex
.vs/ProjectEvaluation/*.bin
.vs/ProjectEvaluation
.vs

Linux-Docker/.vs
Linux-Docker/bin/Debug/net8.0
Linux-Docker/bin/Debug
Linux-Docker/bin
Linux-Docker/obj
Linux-Docker/obj/Debug
Linux-Docker/obj/Debug/net8.0
Linux-Docker/obj/Debug/net8.0/ref/CSharp-Server6.dll
Linux-Docker/obj/Debug/net8.0/refint/CSharp-Server6.dll

WinNativeConsole6/.vs
WinNativeConsole6/bin
WinNativeConsole6/bin/Debug
WinNativeConsole6/bin/Debug/net8.0
WinNativeConsole6/bin/Debug/net8.0-windows
WinNativeConsole6/bin/Debug/net8.0-windows7.0
WinNativeConsole6/bin/Debug/net8.0-windows8.0
WinNativeConsole6/obj
WinNativeConsole6/obj/Debug
WinNativeConsole6/obj/Debug/net8.0
WinNativeConsole6/obj/Debug/net8.0-windows
WinNativeConsole6/obj/Debug/net8.0-windows7.0
WinNativeConsole6/obj/Debug/net8.0-windows8.0

