################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Linux-Docker/obj/Debug/net8.0/ref/CSharp-Server6.dll
Linux-Docker/obj/Debug/net8.0/refint/CSharp-Server6.dll
Linux-Docker/obj/Debug/net8.0
Linux-Docker/obj
Linux-Docker/bin/Debug/net8.0
Linux-Docker/bin/Debug
Linux-Docker/.vs
Linux-Docker/obj/
Linux-Docker/bin/Debug/
